# dependencies
/node_modules

# Next.js
/.next/
/out/

# production
/build

# env files
.env*.local

# TypeScript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#claude
CLAUDE.md