
.App{
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;

  background-image: url('D:\REACT\weather\public\images\blue-fade-rjnkqegealyx4sdh.jpg'); 
  /* background-image: url('D:\REACT\weather\public\images\blue-fade-8vxvacswamxxj276.jpg');  */
  background-size: cover;
  background-position: center;
}
